<mat-card>
    <form #playerForm="ngForm" (ngSubmit)="save(playerForm.value)">
      <mat-card-header>
        <mat-card-title><h2>{{player.playerName ? 'Edit' : 'Add'}} Player</h2></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <!-- <input type="hidden" name="href" [(ngModel)]="player.href"> -->
        <input type="hidden" name="playerId" [(ngModel)]="player.playerId">
        <mat-form-field>
          <input matInput placeholder="Player Name" [(ngModel)]="player.playerName"
                 required name="playerName" #name>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" type="submit"
                [disabled]="!playerForm.form.valid">Save</button>
        <button mat-raised-button color="secondary" (click)="remove(playerForm.value)"
                *ngIf="player.playerId" type="button">Delete</button>
        <a mat-button routerLink="/players">Cancel</a>
      </mat-card-actions>
      <mat-card-footer>

      </mat-card-footer>
    </form>
  </mat-card>